*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    color: rgb(178, 185, 192);
    transition: 5s;
}
a{
    text-decoration: none;
    color: white;
}

body{
  
    /* flex-direction: row-reverse; */
    width: 100%;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: row-reverse;
    width: 19%;
    height: 100vh;  
}

aside{
    background-color:#343a40 ;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    margin-right: 2%;
    width: 15%;
    overflow-x: hidden;
    height: 100vh;  
}
.icon-menu{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, 0.3); */
    padding: 0.5%;
    cursor: pointer; 
}
.icon-menu a i{
    font-size: 40px;
    color: gray;
}
#nav-menu{
    /* border: 2px solid blue; */
    color: lightgray;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    /* overflow-y: scroll; */
}
.logo{
    display: flex;
    padding:2% 0 4% ;
}
.logo a{
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    margin-top: 2%;
    padding:1% 0 5% 5%;
    width: 100%;
}
.logo img{
    width: 17%;
    margin-right: 10px;
}
.logo span{
    font-weight: lighter;
}
.utilisateur{
    display: flex;
    align-items: center;
     margin: 0 2% 0 2%;
    padding:0% 0 5% 5%;
    border-bottom: 1px solid gray;

}
.utilisateur img{
    border-radius: 50%;
    width: 17%;
    margin-right: 10px;
}
/* .utilisateur a{

} */
.recherche{
    display: flex;
    margin: 6% 5% 3% 2%;
    width: 95%;
    color: white;
}
.recherche input{
    display: flex;
    width: 75%;
    color: lightgray;
    border: 1px solid gray;
    background-color: transparent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 4%;
    
}
.recherche button{
    display: flex;
    width: 25%;
    border: 1px solid gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 4%;
    cursor: pointer;
    background-color: transparent;
}

.dashboard{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    margin-top: 2%;
    
}
.dashboard-bgcolor{
    background-color: rgb(34, 166, 228);
    border-radius: 5px;
}
.elements{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 2% 2% 2% ;
}
.icon-gauche{
    flex: 2;
}
.p-i-badge{
    position: relative;
    flex: 5;
    display: flex;
    align-items: center;
    margin-left: 4%;
   
}
.para{ 
    flex: 5;
}
.icon-droit{
    padding-left: 2%;
}
span{
    padding: 1% 2%;
    border-radius: 5px;
    color: white;
}
.dashboard-active{
    background-color: rgb(34, 166, 228);
    color: white;
    font-weight: 900;
}
.dashboard-over{
    background-color: rgba(88, 86, 86, 0.3);
}
ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    display: none;
}
.toogle{
    display: block;
}
.rotation{
    transform: rotate(-90deg);
}
*{
    transition: transform 0.5s;
}
.color-red{
    background-color: red;
}
.color-blue{
    background-color: rgb(40, 213, 243);
}
.cacher-menu{
    display: none;
    font-size: 35px;
    flex: 2;
}

.menu-aside-plier{
    width: 4%;
    /* position: relative; */
}
.menu-aside-deplier{
    width: 14%;
    /* position: relative; */
}
.icon-pilier{
    font-size: 25px;
    margin: 15% 0 0 25%;
}

.text-mage1, .text-mage2{
    opacity: 0;
}

.image-plier{
   transform: scale(2.5);
   position: absolute;
   left: 40%;
}
.recherche-plier{
   display: none;
}
.users{
margin-bottom: 20%;
}
.iconmenu-plier{
position: absolute;
left: 5%;
}
.plie{
    width: 14%;
}


.icone2-badge{
    display: flex;
    align-items: center;
    flex: 3;
    justify-content: end;
}
.li-over:hover{
    padding: 4%;
    margin: 6% 2% 0 2%;
    border-radius: 5px;
    background-color: rgba(88, 86, 86, 0.3);
} 


.span-badge-rouge{
    padding: 3%;
    color: white;
    border-radius: 5px;
    font-size: 0.9em;
    background-color: red;
}
.span-badge-bleu{
    padding: 3% 5%;
    color: white;
    border-radius: 5px;
    font-size: 0.9em;
    background-color: rgb(80, 182, 241);
}

.exemple{
    margin: 2% 4% 0 2%;
    font-size: 0.5em;
}
